.product-view-image {
	width: 100%;
	max-width: 500px;
}

.product-view-title {
	font-size: x-large;
	margin: 0;
	line-height: 1em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product-view-description {
	font-size: small;
	margin: 0;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.single-product-view-rating {
	margin: 10px 0px;
}

.single-product-view-rating-value {
	margin: 0px 10px;
}

.product-view-btn-container {
	padding-top: 2em;
}

.product-view-color-selector-container {
	width: fit-content;
	padding: 10px;
	position: relative;
	border-radius: 0.5em;
}

.product-view-color-selector {
	width: 20px;
	height: 20px;
	margin: 5px;
	border: none;
	border-radius: 50%;
    outline: none;
}

.product-view-color-selector:hover {
    transform: scale(1.1);
}

.product-view-size-selector {
	width: 30px;
	height: 20px;
	margin: 5px;
	border: none;
	border-radius: 10%;
	outline: none;
    font-size: x-small;
    background: #f77f00;
    color: #fff;
}

.product-view-size-selector:hover {
    transform: scale(1.1);
}

.product-view-color-selector:focus {
	outline: none;
	box-shadow: none;
}

.product-view-size-selector:focus {
	outline: none;
	box-shadow: none;
}

.product-view-selected-color {
	font-size: x-small;
	position: absolute;
	top: -9px;
	background-color: #ffffff;
    padding: 0px 5px;
    font-weight: 500;
}

.single-product-view-size-container {
	margin-left: 20px;
}

.single-product-view-available {
	font-size: small;
	color: green;
	margin: 2px 0px;
	font-weight: 600;
}

.single-product-view-not-available {
	font-size: small;
	color: red;
	margin: 2px 0px;
	font-weight: 600;
}

.single-product-view-price {
	font-size: large;
	margin: 0.5em 1em 0.1em 0;
	font-weight: 700;
}

.single-product-view-discount {
	font-size: large;
	margin: 0.5em 0.1em 0.1em 0;
	font-weight: 600;
	color: rgb(61, 61, 61);
}

.single-product-view-discount-period {
	font-size: small;
	margin: 0em 1em 2em 0em;
	font-weight: 500;
	color: rgb(255, 0, 0);
}