/* Global */
.no-padding {
	padding: 0 !important;
}

.no-padding-left {
	padding-left: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.no-margin-top {
	margin-top: 0 !important;
}

.favourite-btn {
	border-radius: 50% !important;
	background: #d62828 !important;

}

.favourite-btn:focus {
	outline: none !important;
	box-shadow: none !important;
}