.add-new-btn {
    border: none;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
    background: none;
    color: gray;
}

.add-new-btn:focus {
    outline: none;
}

.add-new-btn:hover {
    background: orange;
    color: #fff;
}

.sm-cancel-btn {
    margin-right: 5px;
}