.add-new-btn {
	border: none;
	border: 1px solid #063146;
	border-radius: 25px;
	padding: 5px 10px;
	background: none;
	color: rgb(99, 99, 99);
}

.add-new-btn:focus {
	outline: none;
}

.add-new-btn:hover {
	background: #063146;
	color: #fff;
}

.sm-cancel-btn {
	margin-right: 5px;
}

